receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:14318
      grpc:
        endpoint: 0.0.0.0:14317

processors:
  batch:
    timeout: 10s
    send_batch_size: 1024
    send_batch_max_size: 2048
  
  memory_limiter:
    check_interval: 1s
    limit_mib: 4096
    spike_limit_mib: 1024
  
  resource:
    attributes:
      - key: aggregator.node
        value: ${NODE_NAME}
        action: insert

exporters:
  prometheusremotewrite:
    endpoint: http://localhost:9090/api/v1/write
    tls:
      insecure: true
    resource_to_telemetry_conversion:
      enabled: true
  
  prometheus:
    endpoint: "0.0.0.0:9464"
    namespace: otel
    const_labels:
      aggregator: ${NODE_NAME}
  
  otlphttp/loki:
    endpoint: http://localhost:3100/otlp
    tls:
      insecure: true

  debug:
    verbosity: detailed

service:
  telemetry:
    logs:
      level: info
    metrics:
      level: detailed
  
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [memory_limiter, batch, resource]
      exporters: [prometheusremotewrite, prometheus]
    
    logs:
      receivers: [otlp]
      processors: [memory_limiter, batch, resource]
      exporters: [otlphttp/loki]
